* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

:root {
    --Black: #080708;
    --Sand: #FCFF6C;
    --White: #FEF9FF;
    --Blue: #3772FF;
    --Yellow: #FFD23F;
    --LightBlue: #99B8FF;
    --Red: #FF101F;
}

body {
    background-color: var(--Sand);
}

/* Standaard elementen */
h1 {
    color: var(--White);
    font-size: 40px;
}

a {
    text-decoration: none;
    color: var(--White);
    font-size: 25px;
}

/* nav */
nav {
    width: 100vw;
    height: 16vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav > h1 {
    width: 50%;
}

#nav-svg {
    position: fixed;
    z-index: -1;
    transform:scaleX(200%) scaleY(200%);
}

.link-row {
    display: flex;
    justify-content: space-between;
    width: 40%;
}